.BlackPanther {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: start;
    padding-right: 50px;
}

.AvengersEndgame {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: start;
    padding-right: 50px;
}
.IronMan {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: start;
    padding-right: 50px;
}
.ThorRagnarok {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: start;
    padding-right: 50px;
}
.Spider-ManNoWayHome {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: start;
    padding-right: 50px;
}
h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #000000;
}
img {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.45));
}
ul li {
    line-height: 1.7em;
}
h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}